include mixins

section#about
	h1 Lobopod-Tober
	+ promptCard('10/1','prompt', 'img', 'alt')
	article.about__body
		h2.about__title Draw a Lobopod every day in October
		.about__body
			| Lobopod-tober is a 31 day drawing challenge in the sprite of Draw-tober, and Ink-tober. The challenge is to finish a lobopod drawing everyday in October 2022.
			| what is a lobopod.
