include mixins

section#about-me.about-me
	h2.about-me__title About Me
	.about-me__body
		some stuff about me as an artist
	.about-me__cta
		a.about-me__cta-link(href="#contact") Feel to reach out
	+ tipCTA("Like the project?")
	
