include mixins

section.prompts
	h2 Prompts
	.prompts__gallery
		.prompts__gallery-img
			+ promptCard('10/1', 'some prompt', 'no img', '', 'prompt desc', 'link', 'link label', 'reference img', 'its a reference')

