extends ./layout/layout.pug
block body
	main.main
		section.terrarium
			h2.terrarium__title home
			canvas.terrarium__canvas

		section.console
			h2.console__title console
			.console__icons
				.console__icon-shop
				.console__icon-ask
				.console__icon-dress
				.console__icon-ingredients

			.console__crafting
				canvas.console__crafting-canvas

			.console__icons
				.console__icon-tool-1
				.console__icon-journal
				.console__icon-tool-2
				.console__icon-hunt
