include ../mixins
doctype html
html(lang='en')
	head
		include ./head.pug
		block head
		block inlineStyles
			link(rel="stylesheet" href="style.css")
			style
				block styles

		block title
			title draw lobopods

	body
		block body

		block footer
			include footer.pug

		block scripts
