include ../mixins
doctype html
html(lang='en')
	head
		include ./head.pug
		block head
		block inlineStyles
			link(rel="stylesheet" href="https://static.hectordiaz.pro/fonts/blood_of_dracula/blood_of_dracula.css")
			link(rel="stylesheet" href="https://static.hectordiaz.pro/fonts/mont/stylesheet.css")
			link(rel="stylesheet" href="style.css")
			style
				block styles

		block title
			title draw lobopods

	body.body
		block body

		block footer
			include footer.pug

		block scripts
	include ./linkedScripts
